body,
html {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  color: #333333;
}

* {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

h1 {
   font-size: 1.5rem;
}

p {
  font-size: 14px;
  color: #333333;
}

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
  text-decoration: none;
}

ul li:hover, ul li:focus {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width:1400px) {
  .container {
    max-width: 760px;
  }
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
  .container {
    max-width: 740px;
  }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .container {
    max-width: 580px;
  }
}